# Java build output
backend-java/target/
backend-java/.idea/
localTest/DDB/DynamoDBLocal_lib/

# Python virtual environment
scripts/python/venv/
venv/

MindSpark.pub

# Node.js
website/node_modules/
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
website/.env
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local
website/build

# IDE settings
.vscode/

# macOS
.DS_Store 
